<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> 400 Bad Request </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>
<body>
<div th:replace="fragments/fragment :: navbar"></div>
<div class="content-container fontsipayroll">
    <div class="container-fluid">
        <div class="mt-5 card-body con text-center fontsipayroll">
            <section class ="add-user-block">
                <div class="row">
                    <div class="col-md-10 mx-auto add-user-sec">
                        <div class="card">
                            <div class="card-body con text-center">
                                <br>
                                <br>
                                    <img class="image img-fluid" src="https://i.pinimg.com/originals/b0/de/75/b0de755d2943b5f201c3702fd59f20f8.png" alt="Accountants-work-with-financial-transactions-software-and-tablet-Enterprise-accounting-IT-accounting" border="0">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


</body>
</html>